.header-img{
    width: 80px;
    height: 80px;
}
body{
    background-color:beige
}
header{
    background-color:lightblue;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.nav a{
    margin-left: 20px;
    font-weight: bold;
    color: aliceblue;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    padding: 10px 20px;
}
.nav a:hover{
    background-color: darkblue;
    border-radius: 5px;
}